@model IEnumerable<allpax_service_record.Models.tbl_dailyReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .container {
            border: 2px solid black;
        }
    </style>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function () {//begin document read jquery statements

        //begin fill the jobs dropdown
        var jobs_dpdown = $('#jobs_dpdown');

        $.ajax({
            url: 'DataService.asmx/GetAllJobNos',
            method: 'post',
            dataType: 'json',
            success: function (data) {

                jobs_dpdown.append($('<option/>', { value: -1, text: 'Select Job' }));

                $(data).each(function (index, item) {
                    jobs_dpdown.append($('<option/>', { value: item.jobID, text: item.jobID }));
                });
            }
        });
        //end fill the jobs dropdown

        //begin fill the customer info
        jobs_dpdown.change(function () {
            $.ajax({
                url: 'DataService.asmx/GetCustomerInfoByJobID',
                method: 'post',
                dataType: 'json',
                data: { jobID: jobs_dpdown.val() },
                success: function (data) {
                    //console.log(data.customerCode);
                    //console.log(jobs_dpdown.val());

                    $(data).each(function (index, item) {
                        console.log(item.customerCode);
                        console.log(item.customerName);
                        console.log(item.address);
                        $("#output_customerName").html(item.customerName.toString());
                        $("#output_location").html(item.address.toString());
                        $("#output_customerCode").html(item.customerCode.toString());
                    });
                }
            });
        });
        //end fill the customer info


        //begin fill the team names dropdown
        var team_dpdwn = $('#team_dpdwn');

        $.ajax({
            url: 'DataService.asmx/GetAllTeamNames',
            method: 'post',
            dataType: 'json',
            success: function (data) {

                team_dpdwn.append($('<option/>', { value: -1, text: 'Select Team Member' }));

                $(data).each(function (index, item) {
                    team_dpdwn.append($('<option/>', { value: item.name, text: item.name + "-" + item.shortName }));
                });
            }
        });
        //end fill the jobs dropdown

        //begin #addButton
        $("#addButton").click(function () {//when the add button is clicked...
            var addItem1 = $("#jobs_dpdown").val();
            var addItem2 = $("#slct_date").val();
            //var addItem3 = $("#addRecordItem3").val();
            var addItem4 = $("#input_startTime").val();
            var addItem5 = $("#input_endTime").val();
            //var addItem6 = $("#addRecordItem6").val();

            console.log(addItem5);

            alert(
                "Selected for Add POST:" + '\n' +
                "addItem1: " + addItem1 + '\n' +
                "addItem2: " + addItem2 + '\n' +
                //"addItem3: " + addItem3 + '\n' +
                "addItem4: " + addItem4 + '\n' +
                "addItem5: " + addItem5 + '\n'
                //"addItem6: " + addItem6 + '\n'
            );
            $("#addRecordItem1").val('');
            $("#addRecordItem2").val('');
            //$("#addRecordItem3").val('');
            $("#addRecordItem4").val('');
            $("#addRecordItem5").val('');
            //$("#addRecordItem6").val('');
            //begin axios add post
            axios.post('/dailyReport/AddDailyReport', {
                jobID: addItem1,
                date: addItem2,
                subJobID: '999',
                //address: addItem3,
                startTime: addItem4,
                endTime: addItem5,
                lunchHours: '1',
                dailyReportID: '1'
                //zipCode: addItem6,
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
            //end axios add post
        });
                //end #addButton

    });//end document read jquery statements
    </script>
</head>
<br />
<hr />
<form>
    <div class=" container" style="margin:5px">
        <div class="row">
            <div class="md-col-12" style="padding:5px">
                <strong>Daily Log Information</strong>
            </div>
        </div>
        <div class="row">
            <div class="md-col-2" style="padding:5px">
                <strong>Job:</strong>
            </div>
            <div class="md-col-2" style="padding:5px">
                <select name="jobs_dpdown" id="jobs_dpdown" style="width:100%">
                </select>
            </div>
            <div class="md-col-5" style="padding:5px"></div>
            <div class="md-col-1" style="padding:5px">
                <strong>Date:</strong>
            </div>
            <div class="md-col-2" style="padding:5px">
                <input type="date" class="form-control form-control-sm" id="slct_date" placeholder="" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Customer:</strong>:
            </div>
            <div class="col-7" style="padding:5px" id="output_customerName"></div>
            <div class="col-1" style="padding:5px">
                <strong>Sub Job:</strong>
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="slct_subJob" style="width:100%">
                    <option value="S1525">Commissioning</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Location:</strong>
            </div>
            <div class="col-7" style="padding:5px" id="output_location"></div>
            <div class="col-1" style="padding:5px">
                <strong>Code:</strong>
            </div>
            <div class="col-2" style="padding:5px" id="output_customerCode"></div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Customer Contact:</strong>
            </div>
            <!--<div class="col-10" style="padding:5px">Rodney Anderson, Zac Wood</div>-->
            <div class="col-10" style="padding:5px">
                <input type="text" value="" id="input_custContact" name="" style="width:100%">
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Equipment:</strong>
            </div>
            <div class="col-10" style="padding:5px">
                <input type="text" value="" id="input_equipment" name="" style="width:100%">
            </div>
        </div>
        @*<form-inline>*@
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Allpax Team:</strong>
            </div>
            <div class="col-6" style="padding:5px">
                <div class="row" style="margin:0px;">
                    <select name="team_dpdwn" id="team_dpdwn" style="width:100%">
                    </select>
                </div>

                <div class="row" style="margin:0px;">
                    <strong>Allpax Team:</strong>
                </div>

            </div>
            <div class="col-1" style="padding:5px">
                <div class="row" style="margin:0px">
                    <button type="button" class="btn btn-sm btn-primary">Add</button>
                </div>
            </div>
            <div class="col-1" style="padding:5px">
                <div class="row" style="margin:0px">
                    <select name="" id="slct_teamShort" style="width:100%">
                        <option value="">JW</option>
                    </select>
                </div>
            </div>
        </div>
        @*</form-inline>*@
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Start Time:</strong>
            </div>
            <div class="col-2" style="padding:5px">
                <input type="text" class="form-control form-control-sm" id="input_startTime" placeholder="" value="">
            </div>
            <div class="col-2" style="padding:5px">
                <strong>End Time:</strong>
            </div>
            <div class="col-2" style="padding:5px">
                <input type="text" class="form-control form-control-sm" id="input_endTime" placeholder="" value="">
            </div>
            <div class="col-2" style="padding:5px">
                <strong>Lunch (hr)</strong>
            </div>
            <div class="col-1" style="padding:5px">
                <input type="text" value="1" id="" name="input_lunch" style="width:100%">
            </div>
            <div class="col-1" style="padding:5px">
            </div>
        </div>
    </div>

    <div class=" container pl-auto" style="margin:5px">
        <div class="row">
            <div class="col-10" style="padding:5px">
                <strong>Work Description</strong>
            </div>
            <div class="col-2" style="padding:5px">Team</div>
        </div>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <input type="text" value="Water recovery system....." id="input_workDesc" name="" style="width:100%">
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="slct_team2" style="width:100%">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>

    <div class=" container pl-auto" style="margin:5px">
        <div class="row">
            <div class="col-10" style="padding:5px">
                <strong>Delays</strong>
            </div>
            <div class="col-2" style="padding:5px">Team</div>
        </div>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <input type="text" value="Water recovery system....." id="" name="" style="width:100%">
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="" style="width:100%">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>

    <div class=" container pl-auto" style="margin:5px">
        <div class="row">
            <div class="col-10" style="padding:5px">
                <strong>Warranty Delays</strong>
            </div>
            <div class="col-2" style="padding:5px">Team</div>
        </div>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <input type="text" value="Water recovery system....." id="" name="" style="width:100%">
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="" style="width:100%">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm" id="addButton" style="background-color: royalblue">Add</button>
</form>


