@model allpax_service_record.Models.tbl_resourceTypes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_resourceTypes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.resourceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resourceType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.resourceTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
